.banner-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2em;
  text-align: center;
  position: relative;
}

.banner-1 video {
  height: 100vh;
  width: 100%;
  z-index: -1;
}

.banner-1 .title {
  font-size: 50px;
}

.banner-1 p {
  font-size: 23px;
  color: #585a5d;
}

.banner-1 .content {
  position: absolute;
  padding-top: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  flex-direction: column;
  background-color: white;
  -webkit-box-shadow: -2px -9px 166px 75px rgba(255, 255, 255, 1);
  -moz-box-shadow: -2px -9px 166px 75px rgba(255, 255, 255, 1);
  box-shadow: -2px -9px 166px 75px rgba(255, 255, 255, 1);
  width: 100%;
}

.banner-1 .btn-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3em;
}

.banner-1 .btn-group button {
  width: 200px;
  height: 70px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 22px;
  font-weight: 600;
}

.banner-1 .btn-group button:nth-child(1) {
  border: 2px solid #c8c9cc;
  background-color: transparent;
}

.banner-1 .btn-group button:nth-child(1):hover {
  border: 2px solid #c8c9cc;
  background-color: #f0f1f1;
}
.banner-1 .btn-group button:nth-child(2) {
  border: 2px solid transparent;
  background-color: var(--primary);
  color: white;
}

.banner-1 .btn-group button:nth-child(2):hover {
  border: 2px solid transparent;
  background-color: #005c9f;
  color: white;
}

/* .bg-wrapper {
    background: url('../../assets/banner_2_3_4_bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */

.banner-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8em;
  height: 100vh;
  background-image: url("https://img.freepik.com/free-vector/winter-light-blue-gradient-vector-background_53876-126054.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 3em;
  -webkit-box-shadow: inset -12px 200px 300px -37px rgba(255, 255, 255, 1);
  -moz-box-shadow: inset -12px 200px 300px -37px rgba(255, 255, 255, 1);
  box-shadow: inset -12px 200px 300px -37px rgba(255, 255, 255, 1);
}

.banner-2 .cont {
  width: 80%;
}

.banner-2 .cont .title {
  font-size: 40px;
}

.banner-2 .cont p {
  margin-top: 1em;
  font-size: 23px;
  color: #585a5d;
}

.banner-2 .cont .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2em;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  padding: 3em;
}

.banner-2 .cont::after {
  content: '';
  height: 3em;
  width: 100%;
  -webkit-box-shadow: inset -25px 128px 135px 0px rgba(255,255,255,1);
-moz-box-shadow: inset -25px 128px 135px 0px rgba(255,255,255,1);
box-shadow: inset -25px 128px 135px 0px rgba(255,255,255,1);
}

.banner-2 .cont .content .subtitle {
  font-size: 30px;
}
.banner-2 .cont .content p {
  margin-top: 0.5em;
  font-size: 16px;
}

.banner-2 .cont .content .link {
  color: var(--primary);
  margin-top: 0.5em;
  text-decoration: none;
}
